################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Questionnaire/.vs/Questionnaire/v16/Server/sqlite3/db.lock
