################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.git
/Questionnaire/.vs
/Questionnaire/Questionnaire/bin
/Questionnaire/Questionnaire/obj
/Questionnaire/TestQuestionnaire/bin
/Questionnaire/TestQuestionnaire/obj
