@page "/counter"
@using Questionnaire.Models;

<h1>Counter</h1>

@if (Questions == null)
{
    <p>Warte MAl</p>
}
else 
{
    <p>Ich habe @Questions.Count() Fragen für disch</p>
}
<p>Current count: @currentCount</p>

@code {
    private int currentCount = 0;

    private QuestionHandler qHandler;

    private IEnumerable<Question> Questions;

    protected override void OnInitialized()
    {
        qHandler = new QuestionHandler();
        Questions = qHandler.Provide();
        base.OnInitialized();
    }
}
